<ion-app id="app">
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content">
            <ion-header>
                <ion-toolbar>
                    <ion-buttons slot="start">
                        <ion-button>
                            <ion-icon name="menu-outline"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                    <ion-title>Main Menu</ion-title>
                </ion-toolbar>
            </ion-header>

        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>

    </ion-split-pane>
</ion-app>